#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menu "Graphics Support"
source "$APPSDIR/graphics/ft80x/Kconfig"
source "$APPSDIR/graphics/lvgl/Kconfig"
source "$APPSDIR/graphics/nxglyphs/Kconfig"
source "$APPSDIR/graphics/nxwidgets/Kconfig"
source "$APPSDIR/graphics/nxwm/Kconfig"
source "$APPSDIR/graphics/pdcurs34/Kconfig"
source "$APPSDIR/graphics/screenshot/Kconfig"
source "$APPSDIR/graphics/slcd/Kconfig"
source "$APPSDIR/graphics/tiff/Kconfig"
source "$APPSDIR/graphics/twm4nx/Kconfig"
endmenu # Graphics Support
