menu "Testing"
source "$APPSDIR/testing/sensortest/Kconfig"
source "$APPSDIR/testing/ostest/Kconfig"
source "$APPSDIR/testing/fstest/Kconfig"
source "$APPSDIR/testing/smart/Kconfig"
source "$APPSDIR/testing/scanftest/Kconfig"
source "$APPSDIR/testing/smart_test/Kconfig"
source "$APPSDIR/testing/fatutf8/Kconfig"
source "$APPSDIR/testing/smp/Kconfig"
source "$APPSDIR/testing/irtest/Kconfig"
source "$APPSDIR/testing/cxxtest/Kconfig"
source "$APPSDIR/testing/unity/Kconfig"
source "$APPSDIR/testing/nxffs/Kconfig"
source "$APPSDIR/testing/mm/Kconfig"
source "$APPSDIR/testing/ltp/Kconfig"
source "$APPSDIR/testing/getprime/Kconfig"
endmenu
